<div>
	<div>
		<input type="text" ng-model="query" />
	</div>

	<div>
	<div>
		  Grouped tasks:
		  <select
		      ng-model="SongApp"
		      ng-options="value.name group by value.complete for value in todos">
		  </select>
		</div>
	</div>


	<div ng-repeat="song in songs | filter:query">
	<p>
		<a href="#/songs/{{ song.id }}">{{ song.artist }}</a>
		<a href="#/songs/{{ song.id }}">{{ song.album }}</a>
		<a href="#/songs/{{ song.id }}">{{ song.title }}</a>
		<a href="#/songs/{{ song.id }}">{{ song.year }}</a>

		<button ng-click="removeMessage(song)">Delete a Song</button>
	
	</p>
	</div>

</div>
