<!doctype html>

<html lang="en">
	<head>
	  <meta charset="utf-8">
	  <title>NSS Starter Kit - Angular</title>
	  <link rel="stylesheet" type="text/css" href="styles/main.css">
	</head>

	<nav>
	  	<a href="#/songs/form">Add</a>
	  	<a href="#/songs/list">List</a>
	</nav>

	<body ng-app="SongApp">
	  <div ng-view></div>



	  <script src="lib/bower_components/angular/angular.js"></script>
	  <script src="lib/bower_components/angular-route/angular-route.js"></script>
	  <script src="lib/bower_components/firebase/firebase.js"></script>
	  <script src="lib/bower_components/angularfire/dist/angularfire.js"></script>

	  <script src="app/SongApp.js"></script>

	  <script src="app/factories/SongStorage.js"></script>
	  <script src="app/controllers/SongCtrl.js"></script>
	  <script src="app/controllers/SongFormCtrl.js"></script>

	</body>
</html>
















<!-- <!DOCTYPE html>

<html ng-app="TodoApp">

  <link rel="stylesheet" href="styles/responsive.css">

	<body> -->

<!-- This demonstrates Writing to the DOM -->
<!-- 		<div ng-view></div>

		<section ng-controller="TodoCtrl">

			<h1> {{ title }} </h1>
			<h2> {{ beer }} </h2> -->

<!-- This demostrates Two-Way Binding -->
			<!-- <div>
			  <input type="text" ng-model="macaroni" />
			  <div> {{ macaroni }} </div>
			</div> -->

<!-- This is effecively a loop that adds an event listener-->
<!-- 
			<div>
		 	  <ul ng-repeat="todo in todos | filter: searchText">
			    <li>{{ todo.name }} <button ng-click="killTodo(todo)">Finish</button></li>
			  </ul>
			</div>	 -->
		
<!-- Creates an input box that searches and filters, using the same list-->
		<!-- 	<input type="text" ng-model="searchText" />
			<div>
			  <ul ng-repeat="todo in todos | filter: searchText">
			    <li>{{todo.name}}</li>
			  </ul>
			</div> -->
<!-- Groups the tasks. Value is specific to this statement (could be monkeybutt), 
 -->
 			<!-- <div>
			  Grouped tasks:
			  <select
			      ng-model="theTodo"
			      ng-options="value.name group by value.complete for value in todos">
			  </select>
			</div>

			<h3> {{ theToDo.name }} </h3>
		</section>

		<script src="lib/bower_components/angular/angular.min.js"></script>
		<script src="lib/bower_components/angular-route/angular-route.js"></script>
		<script src="app/Todo.js"></script>
	</body>

</html> -->